.Sidebar {
  background-color: white;
  border-right: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: start;
  width: 300px;
  margin: 80px 0;
}

.Sidebar nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Sidebar h4 {
  border-bottom: 1px solid #3e3e3e;
  padding: 20px;
}

.Sidebar a {
  color: #3e3e3e;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.Sidebar a:hover {
  background-color: #e1e1e1;
  text-decoration: none;
}